textarea {
    resize: none;
}


#upload-avatar {
    margin: auto;
    margin-top: 32px;
}

#choose-picture {
    padding-right: 80px;
}

footer {
    bottom: 0;
}

.h2home {
    text-align: center;
}

.card {
    margin-bottom: 15px;
}

#about-avatar {
    width: 35%;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.artist-thumb {
    margin-bottom: 15px !important;
}

.art-profile, .poem-pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;   
    word-wrap: break-word;    
}

.home-track:hover, .artist-thumb:hover {
    transform: scale(1.15);
    z-index: 1;
}

.home-track, .artist-thumb {
    transition: 1s;
}

.my-card-anchor, .artist-anchor {
    color: black;
}

.my-card-anchor:hover, .artist-anchor:hover {
    color: black;
    text-decoration: none;
}

@media (min-width: 576px) {
    #regSubmit {
        margin: auto;
        width: 100%;
    }
    #default-avatar {
        width: 100%;
    }
 }

@media (min-width: 768px) { 
    #regSubmit {
        margin: auto;
        width: 74%;
    }

    #carouselExampleIndicators {
        margin: auto;
        width: 90%;
    }
    .card-img-top {
        height: 35%;
    }
    #default-avatar {
        width: 60%;
    }
    #login-form {
        width: 60%;
        margin: auto;
    }
 }