textarea {
    resize: none;
}

#default-avatar {
    width: 60%;
}

#upload-avatar {
    margin: auto;
    margin-top: 32px;
}

#choose-picture {
    padding-right: 80px;
}

footer {
    bottom: 0;
}

h1 {
    text-align: center;
}

@media (min-width: 576px) {
    #regSubmit {
        margin: auto;
        width: 100%;
    }
 }





@media (min-width: 768px) { 
    #regSubmit {
        margin: auto;
        width: 74%;
    }

    #carouselExampleIndicators {
        margin: auto;
        width: 90%;
    }
 }